.selected::before{
    content: "";
    position: absolute;
    width: 100%;
    top: -10px;
    height: 3px;
    border-radius: 3px;
    background: #0093d0;
}

.group_content .selected::before{
    width: 0;
}

.chasseur_bg, .chasseur_bg.selected::before{
    background: #e93540 !important;
}

.chasseur_title{
    color: #460f0e !important;
}

.navigation .chasseur_bg:hover{
    background: #ff0011 !important;
}

.chasseur_title .group_content .box:hover
, .chasseur_title .group_content .selected{
    background: #ff0011;
}

.fermier_bg,.fermier_bg.selected::before{
    background: #88a332 !important;
}

.fermier_title{
    color: #202e00 !important;
}

.navigation .fermier_bg:hover{
    background: #bfff00 !important;
}

.fermierTitle .group_content .selected{
    background: #7cab67;
}

.pecheur_bg, .pecheur_bg.selected::before{
    background: #40a5dd !important;
}

.pecheur_title{
    color: #063843 !important;
}

.navigation .pecheur_bg:hover, .pecheur_title .group_content .box:hover, .pecheur_title .group_content .selected{
    background: #5fc7ff !important;
}

.bucheron_bg, .bucheron_bg.selected::before{
    background: #b39e4e !important;
}

.bucheron_title{
    color: #644116 !important;
}

.navigation .bucheron_bg:hover, .bucheron_title .group_content .box:hover, .bucheron_title .group_content .selected{
    background: #ffcc00 !important;
}

.mineur_bg, .mineur_bg.selected::before{
    background: #bec9ab !important;
}

.mineur_title{
    color: #3d3d3d !important;
}

.naigation .mineur_bg:hover, .mineur_title .group_content .box:hover, .mineur_title .group_content .selected{
    background: #ffffff !important;
}

.mineur_title .group_content .box:hover p, .mineur_title .group_content .selected p{
    color: #010101;
}

