*{
    font-family: "Sora";
    transition: all .3s ease;
}
body{
    font-family: "Sora";
    margin: 0;
    transition: all .3s ease;
    background: #131314;
    display: flex;
    justify-content:stretch;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-only-column{
    flex-direction: column;
}

.hide{
    display: none;
}


.navigation{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box{
    display: flex;
    margin: 10px 3px 0 3px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: #212221;
    padding: 15px 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
}

.box:hover{
    background: #7cab67;
    transition: all .3s ease;
}

.box p{
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    margin: 0;
}

.group_content{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
}

.group_content_active{
    display: flex;
    flex-wrap: wrap;
}

.group_content .box{
    padding: 10px 15px;
    white-space: nowrap;
    gap: 5px;
}

.group_content .box img{
    max-width: 25px;
}



.window .bandeau:first-child{
    margin-top: 200px;
}

.bandeau{
    background-color: #64b3b9;
    color: #ffffff;
    text-align: center;
    padding: 1px 0;
}

.bandeau h1{
    margin: 10px 0;
    color: #0A0A0B;
}

.content, .content1{
    margin: 75px 0;
    background: #212221;
    padding: 20px;
    border-radius: 10px;
    pointer-events: none;
}

.content h2, .content1 h2{
    color: #fff;
    text-align: center;
}

.sub_content{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}


.sub_content button{
    background: transparent;
    border: 2px solid #000000;
    padding: 5px 10px;
    color: #64b3b9;
    font-weight: 600;
    font-size: 14px;
    font-family: "Sora";
    border-radius: 4px;
    cursor: pointer;
    pointer-events: all;
}

.sub_content input{
    pointer-events: all;
}

.sub_content button:hover{
    background: #000000;
}

.sub_content input{
    border-radius: 6px;
    outline: none;
    border: 2px solid #000000;
    background: #bec9ab;
    color: #18181A;
    padding: 5px;
}

.sub_content input::placeholder{
    color: #18181A;
}

.sub_content .validate{
    border: 1px solid #64b3b9;
    margin-top: 5px;
}

.sub_content .validate:hover{
    background: #64b3b9;
    color: #000000;
}

.reglages{
    margin: 0;
}

.reglages .sub_content{
    max-width: 500px;
    flex-wrap: wrap;
}

.reglages h2{
    gap: 15px;
}

.reglages h2 img{
    max-width: 30px;
    filter: drop-shadow(0 0 0.2rem rgb(167, 206, 230));
}

.reglages .sub_content button{
    background: rgb(211, 48, 51, 0.3);
    border-color: #d33033;
    color: #b4cae5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.reglages .sub_content button img{
    max-width: 20px;
}

.reglages .sub_content button:hover{
    background: rgb(211, 48, 51, 1);
}

.reglages .sub_content .selected{
    background: rgb(104, 180, 0, 0.3);
    border-color: #68b400;
}

.reglages .sub_content .selected:hover{
    background: #68b400;
    color: #0A0A0B;
}


.reglages .sub_content p{
    margin: 0 7.5px;
}

.reglages .sub_content h3, .reglages .sub_content p{
    color: #b4cae5;
}

.reglages .sub_content input{
    border: none;
    background-color: #ddd;
    -webkit-appearance: none;
    padding: 0;
    border-radius: 500px;
}